article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  min-height: 100%;
  background: #93cede;
  background: -webkit-linear-gradient(top, #A4DCE3 0%, #7AB6C1 45%, #559DA9 100%);
  background: linear-gradient(to bottom, #A4DCE3 0%, #7AB6C1 45%, #559DA9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px; }

body {
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  color: #002C33; }

#hogswatch, #festivus, #decemberween, #robanukah, #winterveil {
  visibility: hidden; }

main {
  padding: 0 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 100vh; }

section {
  width: 52%;
  position: relative; }

p {
  line-height: 1.45;
  font-size: 1.45rem;
  letter-spacing: 0; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #002C33;
  -webkit-transition: 0.35s color;
  transition: 0.35s color; }
  a:hover {
    color: #B90D22; }

em.special {
  font-weight: 700; }

aside {
  width: 48%;
  margin-left: -5%; }
  aside h1, aside p, aside nav, aside div {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  aside p, aside div {
    text-align: left;
    margin: 15px 12% 15px 6%;
    position: relative;
    z-index: 20; }
  aside .wrap {
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  aside .fadeTime {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  aside nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 10%; }
    aside nav .prev2 {
      visibility: hidden; }
  aside .infoBurst {
    display: none; }
  aside p:last-of-type {
    margin-top: 12px;
    padding-top: 12px;
    text-align: center;
    border-top: 1px solid #002C33;
    font-size: 1.8rem; }
    aside p:last-of-type strong {
      display: block;
      font-size: 2.6rem;
      font-family: 'Mountains of Christmas', cursive; }
  aside p.override {
    margin: 15px 6%;
    padding: 0;
    border: 0;
    text-align: left;
    font-size: 1.45rem; }
  aside div.fadeTime {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    aside div.fadeTime a {
      width: 40%;
      text-align: center;
      padding: 10px 8px;
      border: 1px solid #002C33;
      background: #002C33;
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      -webkit-transition: 0.35s all;
      transition: 0.35s all; }
      aside div.fadeTime a:hover {
        background: #B90D22;
        color: #fff;
        border: 1px solid #B90D22; }

nav.fadeTime {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 0 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto; }

nav.initial {
  display: none; }

aside nav a:hover svg path {
  fill: #B90D22;
  stroke: #B90D22; }

h1, h1 span {
  font-family: 'Mountains of Christmas', cursive;
  margin: -10px 0 0px;
  font-size: 6.5rem;
  font-weight: normal;
  text-transform: none;
  padding: 0 6%; }

h1 span {
  display: block;
  margin-top: 0;
  font-size: 4rem;
  padding: 0; }

h1.begin {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  padding: 0 6%;
  margin-top: 80px;
  margin-bottom: 0; }

.prev path, .next path {
  -webkit-transition: 0.35s all;
  transition: 0.35s all; }
  .prev path:hover, .next path:hover {
    cursor: pointer;
    fill: #BE0808;
    stroke: #BE0808; }

section svg {
  width: 95%;
  margin: 0 auto; }

.bounceInDown.n {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.bounceInDown.e {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s; }

.bounceInDown.r {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s; }

.bounceInDown.d {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s; }

.bounceInDown.y {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s; }

.bounceInDown.h {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.bounceInDown.o {
  -webkit-animation-delay: 1.55s;
          animation-delay: 1.55s; }

.bounceInDown.l {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s; }

.bounceInDown.i {
  -webkit-animation-delay: 1.85s;
          animation-delay: 1.85s; }

.bounceInDown.d2 {
  -webkit-animation-delay: 2.05s;
          animation-delay: 2.05s; }

.bounceInDown.a {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s; }

.bounceInDown.y2 {
  -webkit-animation-delay: 2.45s;
          animation-delay: 2.45s; }

.bounceInDown.s {
  -webkit-animation-delay: 2.65s;
          animation-delay: 2.65s; }

.when {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10; }
  footer svg {
    width: 100%;
    position: relative;
    top: 20px; }
  footer p {
    text-align: center;
    color: #88C1CB;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin-bottom: -10px; }
    footer p a {
      text-decoration: none;
      font-weight: bold;
      color: #88C1CB;
      -webkit-transition: 0.5s color;
      transition: 0.5s color; }
      footer p a:hover {
        color: #fff; }

.close {
  visibility: hidden; }

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* MEDIA QUERIES - Screens 1080px and smaller */
@media (max-width: 1080px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  section {
    width: 46%;
    text-align: center; }
    section svg {
      position: relative;
      top: -100px;
      width: 100%; }
  .lightBox {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    background-image: -webkit-radial-gradient(circle, #fff, rgba(255, 255, 255, 0.65));
    background-image: radial-gradient(circle, #fff, rgba(255, 255, 255, 0.65));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0px; }
    .lightBox .close {
      position: absolute;
      font-size: 25px;
      right: 0;
      top: 200px;
      padding: 20px;
      visibility: visible; }
      .lightBox .close:hover {
        cursor: pointer; }
    .lightBox p, .lightBox h1, .lightBox div {
      display: block; }
    .lightBox h1 {
      padding: 0;
      position: relative; }
      .lightBox h1 .close {
        right: -100px;
        top: 0; }
      .lightBox h1 span {
        font-family: 'Quicksand',sans-serif; }
    .lightBox h1.begin {
      display: none; }
    .lightBox nav {
      visibility: hidden; }
    .lightBox div.fadeTime {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 50px;
      position: relative;
      z-index: 555; }
      .lightBox div.fadeTime a {
        background: transparent;
        border: 2px solid #002C33;
        color: #002C33;
        font-weight: 700;
        letter-spacing: 1px; }
        .lightBox div.fadeTime a:hover {
          border: 2px solid transparent; }
    .lightBox .wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  aside {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    aside nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      width: 116%; }
    aside h1, aside p, aside div.fadeTime {
      display: none;
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s; }
    aside p, aside p.override, aside div.fadeTime, aside h1.fadeTime {
      margin: 0px 12% 15px; }
    aside .infoBurst {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 80px 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-animation-name: fadeIn;
              animation-name: fadeIn;
      -webkit-animation-delay: 3.5s;
              animation-delay: 3.5s;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
      aside .infoBurst h1 {
        font-size: 30px;
        display: block; }
      aside .infoBurst a {
        position: relative;
        z-index: 100;
        background: #002C33;
        color: #fff;
        font-size: 16px;
        height: 40px;
        width: 130px;
        -webkit-transform: skew(-20deg);
            -ms-transform: skew(-20deg);
                transform: skew(-20deg);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: uppercase;
        font-weight: normal;
        margin: auto;
        margin-top: 30px; }
        aside .infoBurst a span {
          -webkit-transform: skew(20deg);
              -ms-transform: skew(20deg);
                  transform: skew(20deg); }
        aside .infoBurst a:hover {
          cursor: pointer;
          background: #BE0808; }
    aside .noDelay {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
      aside .noDelay h1 {
        margin-bottom: -12px;
        font-size: 50px;
        text-shadow: #1e4e56 1px 2px 5px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .lightBox .infoBurst a {
    visibility: hidden; }
  .lightBox .close {
    font-weight: bold;
    font-size: 50px;
    top: 50px; } }

/* IPAD Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  aside .infoBurst a {
    font-size: 26px; }
  aside .infoBurst h1 {
    font-size: 40px;
    padding: 0; }
  .lightBox p, .lightBox p.override {
    font-size: 18px; }
  section {
    width: 55%; } }

/* IPHONE Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  section {
    width: 85%; }
  aside {
    padding: 0 6%; }
    aside .wrap {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    aside nav {
      margin-top: 40px;
      width: 100%; }
    aside p:last-of-type {
      font-size: 4.8rem; }
      aside p:last-of-type strong {
        font-size: 7.5rem; }
    aside .infoBurst {
      margin-bottom: 200px; }
      aside .infoBurst a {
        font-size: 46px;
        padding: 10px;
        width: 300px;
        height: 100px; }
      aside .infoBurst h1 {
        font-size: 80px;
        padding: 0;
        text-align: center; }
  aside div.fadeTime a {
    font-size: 34px;
    padding: 20px;
    width: 45%;
    margin-top: 30px; }
  .lightBox h1, .lightBox h1.fadeTime {
    margin: 0 0 20px 0;
    font-size: 80px; }
  .lightBox p, .lightBox p.override {
    font-size: 34px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px; }
  .lightBox h1 .close {
    top: -120px;
    right: -50px; }
  .prev svg,
  .next svg {
    width: 130px;
    height: 130px; }
  .lightBox .infoBurst a {
    visibility: hidden; }
  .lightBox .close {
    font-weight: bold;
    font-size: 110px;
    top: 50px; }
  nav.fadeTime {
    top: 160px; } }

/*# sourceMappingURL=style.css.map */
